.page-healthsafety {

  .block-system {

    .item .text {
      font-size: 14px;
    }

    .with-arrow {
      width: 660px;
      margin: 0 auto;
    }

    .quicktabs-wrapper {

      .quicktabs-tabs {
        padding-top: 15px;

        li {
          padding: 0 10px 14px;
        }
      }
    }
  }
}