.page-healthsafety {

  .block-system {

    h4 {
      text-align: center;
      color: #7d7d7d;
    }

    h5 {
      border-bottom: none;
    }

    .quicktabs-wrapper {
      .quicktabs-tabs {
        padding-top: 15px;
      }

    }
  }

  .items {

    .item {
      margin-bottom: 50px;
      display: table;

      .img {
        display: table-cell;
        width: 200px;
        vertical-align: middle;
        text-align: center;
      }

      .text {
        display: table-cell;

        a {
          color: #7d7d7d;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .top-img {
    text-align: center;
    padding: 60px 0 0 0;
  }

  .with-arrow {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      position: relative;
      margin-bottom: 25px;

      &:before {
        @include pseudo-block($top: 0, $left: -35px);
        border-top: 12px solid transparent;
        border-left: 20px solid #ffac03;
        border-bottom: 12px solid transparent;

      }
    }
  }
}