.b-links {
  margin-bottom: 30px;

  & > ul {
    margin: 0;
    padding: 0;

    li {
      border-bottom: 2px solid #a7a7a7;
      list-style: none;
      font-size: 24px;
      position: relative;
      font-family: $museo-300;
      @include background-image(linear-gradient(#fff 0%, #dddddd 100%));

      &:first-child {
        border-top: 2px solid #a7a7a7;
      }

      a {
        min-height: 120px;
        @include clearfix();
        padding: 10px 105px 10px 45px;
        display: block;
        color: #7d7d7d;
        @include transition(color .3s);
        text-decoration: none;

        &:before {
          @include pseudo-block($right: 20px, $top: 50%);
          margin-top: -14px;
          border-left: 25px solid #f6a704;
          border-top: 14px solid transparent;
          border-bottom: 14px solid transparent;
        }
      }

      p {
        margin: 0;
        font-size: 10px;
      }

      .logo {
        width: 180px;

        img {
          width: 100%;
        }
      }
    }
  }
}