.outer-wrapper {
  overflow: hidden;
  padding-bottom: 90px;

  .front & {

    h2 {
      margin-bottom: 20px;
      font-size: 27px;
      text-align: center;
    }
  }

  .top-media {
//    max-height: 812px;
    display: none;
//
//    &:before {
//      @include pseudo-block($left: 50%, $bottom: 0px);
//      display: block;
//      background: image-url('bg/water-slice.png');
//      @include transform(translate(-50%, 0));
//      height: 205px;
//      z-index: 2;
//      width: 100%;
//      background-size: cover;
//      min-width: 1200px;
//    }
//
//    .video {
//      height: 400px;
//
//      video {
//        display: block;
//        position: absolute;
//        top: 50%;
//        left: 50%;
//        min-width: 100%;
//        min-height: 100%;
//        width: auto;
//        height: auto;
//        @include transform(translate(-50%, -50%));
//        @include background-size(cover);
//
//        source {
//          background: #7EB8D9;
//        }
//      }
//    }
//
//    img {
//      min-width: 1147px;
//      max-width: 100%;
//      height: auto;
//      display: block;
//      margin: 0 auto;
//      position: relative;
//      z-index: 1;
//    }
  }
}

.content-wrapper {

  .front & {
    padding: 55px 0 0 0;
  }

}
