.page-news {

  h5 {
    margin: 0 0 50px 0;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 40px;
    font-size: 36px;
    font-family: museo-300;
    text-align: center;
    color: #818181;
    text-transform: uppercase;
  }

  #block-views-fblog-category-block{
    .view-fblog-category {
      text-align: center;
      margin-bottom: 80px;

      .views-summary {
        width: auto;
        vertical-align: middle;

        a {
          position: relative;

          &.active, &:hover {

            &:before {
              opacity: 1;
            }
          }

          &:before {
            @include pseudo-block($bottom: -29px, $left: 0, $right: 0);
            opacity: 0;
            @include transition(all .3s);
          }
        }

        .sjb_linings {
          background: image-url('tmp/logo-sjblinings-min.png');
          width: 206px;
          height: 46px;
          @include text-hide();
        }

        .ameriflow {
          background: image-url('tmp/logo-ameriflow-min.png');
          width: 205px;
          height: 44px;
          @include text-hide();
        }

        .services {
          background: image-url('tmp/logo-crescent-min.png');
          width: 171px;
          height: 47px;
          @include text-hide();
        }
      }
    }
  }

  .block-system {
    padding: 0 15px;

    .content {

      .content {
        margin: 0;
      }
    }
  }

  .content-wrapper {
    padding: 60px 0 0 0;

    &.with-sidebar {

      .sidebar {
        width: 300px;
      }

      .block-system {
        width: 660px;
        float: left;
      }
    }
  }

  .blog-wrapper {
    @include clearfix();

    .blog-item {
      border-bottom: 2px solid #e2e2e2;
      padding-bottom: 35px;
      margin-bottom: 35px;
    }

    .date {
      color: #538BBC;
      font-size: 18px;
      font-family: $niks-bold;
    }

    h3 {
      font-size: 30px;
      margin: 12px 0 20px 0;
      font-family: $museoslab-700;
      text-transform: uppercase;

      a {
        color: #818181;
        text-decoration: none;
      }
    }
  }

  .sidebar {
    float: right;

    h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #818181;
      border-bottom: 2px solid #e2e2e2;
      padding-bottom: 15px;
      margin-bottom: 30px;
      font-family: $museoslab-500;
    }

    .block-views {
      margin-bottom: 50px;
    }

    .view-content {

      .views-summary, a {
        color: #9c9c9b;
        font-size: 14px;
        font-family: $avenir-meidum;
        text-decoration: none;
      }
    }

    .block-fblog {

      .fblog-archive-list {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
        }

        a, .number {
          text-decoration: none;
          color: #9c9c9b;
          font-size: 14px;
        }

        & > li {
          list-style: none;

          & > a {
            font-family: $avenir-bold;
            color: #707070;
          }
        }

        ul {
          padding: 0 0 0 25px;
        }
      }
    }
  }
}