.b-news {
  margin-bottom: 10px;
  padding: 0 50px;

  h2 {
    text-align: center;
    font-size: 64px;
  }

  .cols {
    @include clearfix();

    &.cols-three .col {
      width: 100%;

      &:first-child {
        margin-left: 0;

        .hd {
          border-bottom: 5px solid #0074c8;
          font-size: 35px;
        }
      }

      &:nth-child(2) .hd {
        border-bottom: 5px solid #d36124;
      }

      &:last-child .hd {
        border-bottom: 5px solid #008743;
      }
    }

    .hd {
      margin-bottom: 24px;
      margin: 0 0 20px;
    }

    h3 {
      font-size: 46px;
    }

    .date {
      font-size: 30px;
    }

    p {
      font-size: 24px;
    }
  }
}