.btn-wrapp {
  text-align: center;
  padding-top: 20px;

  .submit-wrapper {
    text-align: right;
  }

  .form-submit {
    padding: 20px 50px;
  }

  .btn {
    padding: 20px 30px;
  }

  .btn, .form-submit {
    position: relative;
    font-size: 30px;
    font-family: $niks-normal;
    text-decoration: none;
    display: inline-block;
    background: #fff;
    @include border-radius(7px);
    color: #3c3c3c;
    border: 1px solid #d2d2d2;
    @include box-shadow(inset 0 0 55px -4px #D6D6D6);
    overflow: hidden;
    @include transition(all .3s);

    &:hover {
      opacity: .7;
    }
  }
}